/*CONTENT*/
.content{
    float:left;
    width: 92%;
    margin: 0 4%;
    padding: 20px 0;
}

/*HEADER*/
.main_header{
    background: #007FFF;
    position: relative;
}

.main_header_logo{
    font-size: 0;
    float: left;
}

.main_header_logo img{
    height: 58px;
}

.mobile_action{
    width: 46px;
    height: 46px;
    margin:10px 0 0 0;
    float: right;
    cursor: pointer;
    background: #1a5977 url(../img/mobile.png) center center no-repeat;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.mobile_action.active{
    background-color: #000;
}

.mobile_action:hover{
    background-color: #fff;
}

/*MENU*/

/*CALCULO PARA AS MEDIA MAIORES 1279 / 16 = VALOR em*/

@media(max-width: 79.9375em){
    .main_header_nav{
        position: fixed;
        left: -100%;
        top:0;
        width: 76%;
        height: 100%;
        min-width: 200px;
        max-width: 360px;
        background: #222;
        z-index: 99;
        overflow: auto;
        overflow-y:auto; 
    }

    .main_header_nav_search{
        float: left;
        width: 100%;
        background: #000;
        padding:31px 15px;
    }

    .main_header_nav_item{
        float: left;
        width: 100%;
        position: relative;
    }

    .main_header_nav_item  > a{
        float: left;
        width: 100%;
        padding: 15px;
        text-transform: uppercase;
        text-decoration: none;
        color: #eee;
        font-weight: bold;
        font-size: 0.875em;
    }

    .main_header_nav_item:hover,
    .main_header_nav_item:hover{
        color:#fff;
        background: #444;
    }


    .main_header_nav_sub{
        float: left;
        width:100%;
        padding: 10px;
        background: #333;
    }

    .main_header_nav_sub_item{
        float: left;
        width: 100%;
    }

    .main_header_nav_sub_item a{
        float: left;
        width:100%;
        padding:15px;
        text-transform: uppercase;
        text-decoration: none;
        color:#fff;
        font-size: 0.8em;
    }

    .main_header_nav_sub_item a:hover{
        background: #007FFF;
    }
}

.main_header_nav_search .s{
    float: left;
    width: 75%;
    border:none;
}

.main_header_nav_search .b{
    float: right;
    width: 25%;
    border:none;
    cursor:pointer;
    background: url(../img/search.png) center center no-repeat;
    background-color: #ccc;
}

/*SLIDE*/

.slide{
    background: #222;
    position: relative;
    display:block;
}

.slide_controll{
    position: absolute;
    top:23%;
    /*    height: 100px;
        background: red;*/
    width: 100%;
}

.slide_nav{
    position: absolute;
    padding: 5px 15px;
    font-size: 2em;
    background: rgba(255,255,255,0.6);
    cursor: pointer;
    z-index: 89;
}

.slide_nav:hover{
    background: #0007FF;
}

.slide_nav.back{
    left:0;
    margin-left: 5px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.slide_nav.go{
    right: 0;
    margin-right: 5px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.slide_item{
    display: none;

}

.slide_item.first{
    display: block;
}

.slide_item_desc{
    padding: 15px;
    text-transform: uppercase;
    color: #fff;
}

.slide_item_desc h1{
    margin-bottom: 10px;
    font-size: 1.2em;
}

.slide_item_desc a{
    color: #fff;
    text-decoration: none;
}

.slide_item_desc .tagline{
    font-size: 0.875em;
    color: #bbb;
    font-weight: 300;
}

.slide_item_desc a:hover{
    text-decoration: underline;
}

/*DESTINO MAIS VISTOS*/

.more_news{
    padding: 10px 5px;
    background: url(../img/bg_news.jpg);
}

.more_news_item{
    float: left;
    width: 100%;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 0 5px #000;
}

.more_news_item_desc{
    padding: 15px;
}

.more_news_item_desc h1{
    font-size: 1em;
    margin-bottom: 10px;
}

.more_news_item_desc a{
    text-decoration: none;
    color:#007FFF;
}


.more_news_item_desc a:hover{
    text-decoration: underline;
}

.more_news_item_desc time{
    font-size: 0.8em;
    color:#888;
}

/*MELHORES DESTINO*/

.bestviews_item{
    float: left;
    width: 100%;
    margin-top: 25px;
}

.bestviews_item time{
    font-size: 0.875em;
    font-weight: 400;
    display: block;
    color:#007FFF;
}

.bestviews_item h1{
    font-size: 1em;
    font-weight: 400;
}

.bestviews_item a{
    text-decoration: none;
    color:#000;
}

.bestviews_item a:hover{
    text-decoration: underline;
}

/*NEWLETTER*/

.newsletter{
    padding: 10px;
    margin-top: 30px;
    background: #007FFF;
    text-align: center;
    position: relative;
    color:#fff;
}

.newsletter h1{
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 20px;
}

.newsletter form{
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

.newsletter input[type="email"]{
    float: left;
    width: 60%;
    border: none;
    padding: 12px;
}

.newsletter input[type="submit"]{
    float: left;
    width: 40%;
    background: #1a5977;
    border:none;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color:#fff;
}

.newsletter_icon{
    width: 54px;
    height: 54px;
    background: url('../img/newsletter.png') center center no-repeat;
    background-color: #007FFF;
    position: absolute;
    top:0;
    left: 50%;
    margin-top: -24px;
    margin-left: -27px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

/*MAIS VISTOS*/

.most_views{
    background: #eee;
}

.most_views_item{
    float: left;
    width: 100%;
    margin: 15px 0;
}

.most_views h1{
    font-size: 1.3em;
}

.most_views_item img{
    float: left;
    width: 35%;
}

.most_views_item_desc{
    float: right;
    width: 65%;
    padding-left: 15px;
}

.most_views_item_desc time{
    font-size: 0.875em;
    color:#333;
    margin-bottom: 5px;
    display:block;
}

.most_views_item_desc h1{
    font-size: 1em;
}

.most_views_item_desc a{
    text-decoration: none;
    color:#0007FF;
}


.most_views_item_desc a:hover{

}
/*GLERIA*/ 

.gallery{
    padding: 25px;
}

.gallery .section_title{
    margin-bottom: 15px;
}

.gallery img{
    float: left;
    width: 50%;
}


/*FOOTER*/

.main_footer{
    padding: 10px;
    background: #333;
    text-align: center;
    color:#fff;
    font-size: 0.875em;
}

.main_footer_social{
    float:left;
    width: 100%;
    margin-bottom: 10px;
}

.main_footer_social li{
    display: inline-block;
    margin: 0 10px;
}

.main_footer_social li a{
    float: left;
    padding: 10px;
    background: #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.main_footer_social li a:hover{
    background: #0007FF;
}

/*CALCULO 380 / 16  sempre dividir pro este valor */

/*480 BREAKPOINT*/

@media(min-width:30em){
    .more_news_item{
        float: left;
        width: 48%;
        margin-right: 4%;
        min-height: 300px;
    }

    .more_news_item:nth-of-type(2n+0){
        margin-right: 0;
    }
}

/*592 BREAKPOINT*/

@media(min-width:37em){
    .most_views_item h1{
        font-size: 1.3em;
    }

    .gallery img{
        float: left;
        width: 33.33333333333333%;
    }
} 

/*768 BREAKPOINT*/

@media(min-width:48em){

    .main_header{background: #000;}

    .main_header_logo{
        position: absolute;
        top:0;
        padding:35px 20px;
        background: #fff;
        border: 4px solid #007FFF;
        z-index: 98;
        border-top: none;
        box-shadow: 0 0 4px #333;
    }

    .section_title{
        font-size: 2em;
        text-align: left;
        font-weight: 300;
    }  

    .more_news_item:nth-of-type(2n+0),
    .more_news_item{
        float: left;
        width: 23.5%;
        margin-right: 2%;
    }

    .more_news_item:nth-of-type(4n+0){
        margin-right: 0;
    }

    .most_views_item,
    .bestviews_item{
        float: left;
        width: 48%;
        margin-right: 4%;
    }

    .most_views_item,
    .bestviews_item:nth-of-type(2n+0){
        margin-right: 0;
    }

    .most_views_item h1{
        font-size: 1em;
    }

    .newsletter h1{
        font-size: 1.8em;
    }

}

/*960 BREAKPOINT*/

@media(min-width: 60em){
    .slide_controll{
        width:92%;
        margin:0 4%;
        top:30%;
    }

    .slide_item_desc{
        position: absolute;
        width: 100%;
        padding: 20px 4%;
        bottom:0;
        background: rgba(0,0,0,0.7);
    }

    .slide_item_desc h1{
        font-size: 1.8em;
        text-shadow:2px 2px 4px #000;
    }

    .slide_item_desc .tagline{
        font-size: 1em;
        text-shadow:2px 2px 4px #000;
        color:#fff;
    }

    .gallery{
        padding: 50px;
    }

}

/*1280 BREAKPOINT*/

@media(min-width: 80em){
    .mobile_action{
        display: none;
    }
    
    .main_header_nav{
        float: right;
        width: 80%;
        text-align: right;
        margin-top: 20px;
    }
    
    .main_header_nav_item{
        position: relative;
        display: inline-block;
        margin-right: 10px;
    }
    
    .main_header_nav_item:last-of-type{
        margin-right: 20px;
    }
    
    .main_header_nav_item > a{
        float: left;
        padding: 10px;
        text-transform: uppercase;
        text-decoration: none;
        color:#fff;
        font-size: 0.9em;
        font-weight: bold;
    }
    
    .main_header_nav_item:hover,
    .main_header_nav_item > a:hover{
        background: #007FFF;
    }
    
    .main_header_nav_search{
        float: right;
        width: 35%;
    }
    
    .main_header_nav_sub{
        display: none;
        position: absolute;
        top:100%;
        width: 120%;
        left: 0;
        background: #ccc;
        padding: 10px;
        text-align: left;
        z-index: 99;
    }
    
    .main_header_nav_item:hover .main_header_nav_sub,
    .main_header_nav_item > a:hover .main_header_nav_sub{
        display: block;
    } 
    
    .main_header_nav_sub a{
        float: left;
        width: 100%;
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.8em;
        color:#333;
    }
    
    .main_header_nav_sub a:hover{
        background: #007FFF;
        color:#fff;
    }
    
    .more_and_gallery{
        float: left;
        width: 96%;
        margin: 0 4%;
    }
    
    .more_and_gallery .content{
        float: left;
        width:100%;
        margin:0;
    }
    
    .most_views{
        float: left;
        width: 50%;
        background: none;
    }
    
    .most_views_item{
        float: left;
        width: 100%;
    }
    
    .most_views_item img{
        width: 30%;
    }
    
    .most_views_item_desc{
        width: 70%;
    }
    
    .most_views_item_desc h1{
        font-size: 1.2em;
    }
    
    .gallery{
        float: right;
        width: 50%;
    }
    
}


/*1366 BREAKPOINT*/

@media(min-width: 85em){
    .content,
    .slide_item_desc,
    .slide_controll,
    .more_and_gallery{
        width: 80%;
        margin: 0 10%;
    }
    
    .slide_item_desc{
        padding: 20px;
    }
    
    .slide_nav.back,
    .slide_nav.go{
        margin: 0;
    }
    
}


/*1600 BREAKPOINT*/

@media(min-width: 100em){
    .content,
    .more_and_gallery,
    .slide_controll,
    .slide_item_desc{
        width: 76%;
        margin: 0 12%;
    }
    
    .slide_controll{
        top:38%;
    }
    
}


